#AnchorPane {
	-fx-background-color: #282c3d;
    -fx-font-family:"Lucida Grande";
}

#logInBttn {
	-fx-background-radius: 0;
	-fx-background-color: linear-gradient(to left, #0793ff, #0837f3);
}

#UsernameTxt {
	-fx-background-radius: 0;
}

#PasswordTxt {
	-fx-background-radius: 0;
}