.button {
	-fx-background-color: 
		linear-gradient(#282C3D, #282C3D),
        linear-gradient(#282C3D 0%, #282C3D 50%, #282C3D 100%);
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #000000;
    -fx-font-family:"Lucida Grande";
    -fx-font-size: 14px;
    -fx-padding: 5 5 5 5;
}

.Entry {
	-fx-background-color: 
		linear-gradient(#282C3D, #282C3D),
        linear-gradient(#282C3D 0%, #282C3D 50%, #282C3D 100%);
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #000000;
    -fx-font-family:"Lucida Grande";
    -fx-font-size: 14px;
    -fx-padding: 5 5 5 5;
}

